@font-face {
    font-family: 'Apfel Grotezk';
    src: url('ApfelGrotezk-Regular.woff2') format('woff2'),
        url('ApfelGrotezk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

